.vertical-center {
  min-height: 100%;  /* Fallback for browsers do NOT support vh unit */
  min-height: 100vh; /* These two lines are counted as one :-)       */

  display: flex;
  align-items: center;
}

.col-center{
  margin:0 auto;
}

.center {
  margin-left: auto;
  margin-right: auto;
  width: 70%;
}

.centermarginit {
	margin: 60px;
}
body {
  padding-top: 90px; 
  padding-bottom: 20px;
}

ul {
  list-style-type: none;
}

.SiteBody {
  max-width: 70%;
  margin: 0 auto;
  background-color: white;
}